@import'./breakpoints';

.language__image {
  width: 100px;
}

.skills__title {
  text-align: center;
}

.skills__subtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #808080;
}

.skills__container {
  box-shadow:
  0px 0.3px 1.2px rgba(0, 0, 0, 0.031),
  0px 0.9px 3.4px rgba(0, 0, 0, 0.045),
  0px 2.1px 8.1px rgba(0, 0, 0, 0.059),
  0px 7px 27px rgba(0, 0, 0, 0.09);
  text-align: center;
  margin: 30px 55px;
  border-radius: 7px;
}

.skills__container--orange {
  background-color: $orange;
  color: #ffffff;
}

.skills__container--lightblue {
  background-color: $light-blue;
}

.skills__container--yellow {
  background-color: $yellow;
}

.skills__container--purple {
  background-color: $purple;
  color: #ffffff;
}

.skills__container--blue {
  background-color: $blue;
  color: #ffffff;
}

.skills__container--green {
  background-color: $green;
}

.skill__icon {
  width: 60px;
  margin: 15px 0px -13px 0px;
}

.skill__type {
  padding-bottom: 10px;
}

.language-percent {
  margin-top: -10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.skills__container-education {
  margin: 30px;
  padding: 15px;
}

.education__date {
  color: #808080;
  margin-bottom: -6px;
}

@include tablet {

  .skill__content {
    display: flex;
    justify-content: space-evenly;
  }

  .language__content {
    margin: 40px 85px;
  }

  .language-percent {
    padding-bottom: 0px;
  }

  .skills__container {
    margin: 10px;
    padding: 12px;
    width: 190px;
  }

  .skill__type {
    padding-bottom: 0px;
  }
}

@include desktop {

  .skill__content {
    display: flex;
    justify-content: space-evenly;
  }

  .language__content {
    margin: 40px 85px;
  }

  .language-percent {
    padding-bottom: 0px;
  }

  .skills__container {
    margin: 10px;
    padding: 15px;
    width: 295px;
  }

  .skill__type {
    padding-bottom: 0px;
  }
}